Source: ros-foxy-warehouse-ros-sqlite
Section: misc
Priority: optional
Maintainer: MoveIt Release Team <moveit_releasers@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libsqlite3-dev, ros-foxy-ament-cmake, ros-foxy-ament-cmake-copyright, ros-foxy-ament-cmake-gtest, ros-foxy-ament-lint-auto, ros-foxy-ament-lint-common, ros-foxy-class-loader, ros-foxy-geometry-msgs, ros-foxy-rclcpp, ros-foxy-sqlite3-vendor, ros-foxy-warehouse-ros, ros-foxy-ros-workspace
Homepage: http://ros.org/wiki/warehouse_ros
Standards-Version: 3.9.2

Package: ros-foxy-warehouse-ros-sqlite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-class-loader, ros-foxy-rclcpp, ros-foxy-warehouse-ros, sqlite3, ros-foxy-ros-workspace
Description: Implementation of warehouse_ros for sqlite
