Source: ros-rolling-warehouse-ros-sqlite
Section: misc
Priority: optional
Maintainer: MoveIt Release Team <moveit_releasers@googlegroups.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-googletest <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint (>= 0.7.1) <!nocheck>, libboost-all-dev, libclass-loader-dev, libgeometry-msgs-dev <!nocheck>, libsqlite3-dev, python3-geometry-msgs <!nocheck>, ros-geometry-msgs <!nocheck>, ros-rolling-rclcpp, ros-rolling-warehouse-ros, ros-rolling-ros-workspace
Homepage: http://ros.org/wiki/warehouse_ros
Standards-Version: 3.9.2

Package: ros-rolling-warehouse-ros-sqlite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libclass-loader-dev, ros-rolling-rclcpp, ros-rolling-warehouse-ros, sqlite3, ros-rolling-ros-workspace
Description: Implementation of warehouse_ros for sqlite
